<nav class="ksbh-topbar">
    <div class="ksbh-topbar__inner">
        <div class="ksbh-topbar__brand">
            <a href="/" class="ksbh-wordmark">ksbh</a>
            <div class="ksbh-topbar__nav ksbh-topbar__nav--primary">
                <a href="/docs" class="ksbh-tab ksbh-tab--active">Docs</a>
            </div>
        </div>
        <div class="ksbh-topbar__nav ksbh-topbar__nav--secondary">
            <a href="{{ project_href }}" class="ksbh-tab">GitHub</a>
            <a href="{{ project_mirror_href }}" class="ksbh-tab">Codeberg</a>
        </div>
    </div>
</nav>
